<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/styles.css" />
        <script src="script.js" defer></script>
        <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon" />
        <title>Change Password</title>
    </head>
    <body>
        <div class="form-container">
            <div>
                <h1>CHANGE PASSWORD</h1>
                <form id="change-password-form" action="#" method="post">
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input
                            type="email"
                            name="Email"
                            id="email"
                            placeholder="Enter your email..."
                            required
                        />
                    </div>

                    <div class="input-group">
                        <label for="new-password">New Password:</label>
                        <input
                            type="password"
                            name="NewPassword"
                            id="new-password"
                            placeholder="Enter your new password..."
                            required
                        />
                    </div>

                    <div class="input-group">
                        <label for="confirm-password">Confirm Password:</label>
                        <input
                            type="password"
                            name="ConfirmPassword"
                            id="confirm-password"
                            placeholder="Confirm your new password..."
                            required
                        />
                    </div>

                    <div class="input-group">
                        <button type="submit">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
